body{
  margin:0;
  background-image: url(../assets/background.jpg);
  background-size:cover;
  background-attachment: fixed;
  font-family: "Cormorant Garamond", serif;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

.container{
  width: 60%;
  margin: auto;
  transition: width 200ms;
}

h1{
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

h2{
  margin: 1rem 0;
}

.plan-list{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 260px;
  flex-grow: 1;
  border-radius: 10px;
}

.plan{
  background-color: rgba(3, 81, 133, 0.26);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-weight: 700;
}

.plan-title{
  flex-grow: 1;
  margin-left: 20px;
  font-size: 1.3rem;
}

.plan-weather{
  display: flex;
  flex-direction: column;
  align-items:end;
  min-width: 250px;
  font-size: 1.3rem;
}

.plan-weather img {
  vertical-align:middle;
}
.plan-weather .min-max {
  padding-right: 20px;
}

.flex-column{
  flex-direction: column;
  padding: 5px;
}

form{
  display: flex;
  flex-direction: column;
}

form input {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 0px 10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  height: 42px;
}
input::placeholder {
  color: white;
  opacity: 0.7;
}

.form-row{
  display: flex;
  margin: 5px 0px;
}

#name{
  flex-grow: 9;
}
#date{
  flex-grow: 2;
}
#city{
  flex-grow: 2;
}
#country{
  flex-grow: 2;
}
#submit{
  flex-grow: 1;
  height: 44px;
}

.plan.flex-column{
  min-width: 240px;
}

@media (max-width: 596px){
  .plan{
    flex-direction: column;
  }

  .plan-weather{
    align-items:center;
  }

  .plan-title{
    text-align: center;
    margin: 0;
  }
  .container{
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 1050px){
  #row-two{
    flex-direction: column;
    margin: 0;
  }
  #row-two input{
    margin: 5px;
  }
}

@media (max-width: 880px){
  .form-row{
    flex-direction: column;
    margin: 0;
  }
  form input{
    margin: 5px;
  }
}